<!-- form.html - Pika CMS (C) Pika Software |  http://pikasoftware.com // Modified February 2020 By Metatheria, LLC | https://metatheria.solutions -->
<h2>LSC Litigation Report</h2>
<!-- 08-04-2011 - caw - modified to run under v5 -->
<form action="%%[base_url]%%/reports/%%[report_name]%%/report.php" method="POST" name=form1 target="_blank">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      Start Date:<br/>
      %%[filed_date_begin,input_date_selector]%%<br/>
      End Date:<br/>
      %%[filed_date_end,input_date_selector]%%<br/>
    </div>
    <div class="col">    
      Office:<br/>
      <input class="form-control" type=text name="office" value="" size=12 tabindex=1><br>

      Where our client is:<br>
      <input type=checkbox name=lit_status[] value=1 tabindex=1>Defendant<br>
      <input type=checkbox name=lit_status[] value=2 tabindex=1>Petitioner<br>
      <input type=checkbox name=lit_status[] value=3 tabindex=1>Plaintiff<br>
      <input type=checkbox name=lit_status[] value=4 tabindex=1>Respondent<br>
      <input type=checkbox name=lit_status[] value=5 tabindex=1>Appellant<br>
    </div>
    <div class="col">
      Show Clients with Protected Information?<br/>
      %%[show_protected,show_protected]%%<br/>

      Program Filed?<br/>
      %%[program_filed,program_filed]%%<br/>

      Staff Member:<br/>
      %%[user_id,user_id]%%<br/>
      Funding:<br/>
      <input class="form-control" type="text" name="funding" value="" tabindex="1"><br/>
    </div>
    <div class="col">
      <input type="checkbox" name="report_format" value="csv">
      <label for="report_format">Send to a spreadsheet</label><br/>
      <input type="checkbox" name="show_sql" value="1">
      <label for="show_sql">Show SQL</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input class="btn btn-primary" type="submit" name="gen" value="Generate Report" tabindex="1" />
    </div>
  </div>
</div>
</form>
<script>
  $('#reportSubmenu').toggleClass('show');
</script>
%%[ajax_init.js,javascript]%%
%%[date_selector.js,javascript,parse]%%
%%[checkbox_list.js,javascript]%%
